@use '../helpers/variables' as *;
@use '../helpers/mixixn' as *;
@use '../helpers/responsive' as *;
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;

    .swiper-button-next,
    .swiper-button-prev{
        position: absolute;
        top: initial;
        left: initial;
        bottom: 0rem;
        right: 0rem;
        background-color: $primary-color;
        width: 4rem;
        height: 4rem;
        @include shadow(.4);
        &:hover{
            background-color: $secondary-color;
        }
    }
   
    .swiper-button-prev{
      right: 4rem;
    }
    



    .slide{
     
        height: 100%;
        background-position:center ;
        background-size: cover !important;
       
    }
   .container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
   }
   
    &__content{
        width: 50%;
        @include breakpoint(tablet){
            width: 100%;
            text-align: center;
        }
     
    }
    &__title{
        font-size:clamp(40px,5vw,100px);
        font-weight: weight(bold);
        margin-bottom: 2rem;
        color:darken($primary-color,100%);
        line-height: 1.2;
        }
    &__description{
        font-size: 1rem;
        line-height: 1.8;
        color: darken($primary-color,80%);
        margin-bottom: 2rem;
    }
   

    
}